.popup__close{
    width: 20px;
    height: 20px;
    border: 0;
    outline: none;
    background: none;
    position: absolute;
    top: -30px;
    right: 5px;
}
.popup__close:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.4s;
}

@media screen and (min-width: 768px){
    .popup__close{
        top: -25px;
        right: -15px;
}
}